* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: #fff;
    margin: auto;
}

                        /* MOVIE ITEMS  */
  
/* MOVIE DIVS */
.movie-items {
    display: inline-block;
    padding: 0;
    margin-top: 5%;
    margin-bottom: 5%;
}
.allinfo-movie{
    text-align: left;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 10%;
    color: #3f3f3e;
}
.movie-information {
    margin-left: 29% ;
}
.production-brands {
    background-color: white;
}
#actors {
    margin: 10px 16px 0 0;
}
#production-companies {
    margin-left: 5%;
    margin-right: 5%;
    height: 5%;
}
#related-movies {
    background-color: #6968C3; 
    padding-bottom: 2%; 
}
table{
    font-size: smaller;
}
td {
    color: #141414;
    width: 2%;
}
iframe {
   margin: 2% 0 4% 0; 
}
.allinfo-movie > p {
    padding-right: 3%;
}
#movie-overview {
    padding-right: 3%;
}

/*ACTOR'S PAGE*/
.single-movie {
    color: #1b1b1a;
    min-height: 410px;
}
.single-actor-page {
    margin: 5% 0 5% 5%;
    text-align: left;
}
.actorsParticipations {
    margin-top: 10%;
}


/* MOVIE IMAGES */
#movie-backdrop {
    width: 25%;
    float: left;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.356), 0 6px 20px 0 rgba(0, 0, 0, 0.226);
}
.movie-img {
    cursor: pointer;
    border-radius: 3px;
    margin: auto;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.39), 0 6px 20px 0 rgba(0, 0, 0, 0.479);
}
.logo-img { 
/*production company logo*/
    width: 3.4%;
    margin: 1%;
}
.RM-img{
    margin: 2%;
    max-width: 150px;
    max-height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.473), 0 6px 20px 0 rgba(0, 0, 0, 0.479);
    cursor: pointer;
    border-radius: 3px;
}
.actor-img {
    width: 10%;
    margin: 2%;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.486), 0 6px 20px 0 rgba(0, 0, 0, 0.342);
}

/* HOVER STYLES */
.container {
    position: relative;
    width: 62%;
    padding: 0;
}

.overlay {
    position: absolute;
    border-radius: 5px;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .7s ease;
    background-color: #8585A790;
}
.container:hover .overlay {
    opacity: 1;
}
.container-actorlist:hover .overlay {
    opacity: 1;
}

.text{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


/*TITLES*/
#movie-title{
    color:#6968C3;
    font-weight: bolder;
}
.actor-participation-title {
    background-color: #EBEBE4;
    color: #22265E;
    margin-top: 7%;
    text-align: center;
    min-height: 30px;
}
.related-movie-title {
    padding-top: 2%;
}
h3 {
    color: #60638f;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Montserrat', sans-serif;
}
h1,h2  {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

/* NAVBAR  */
.navbar {
    background-color: #fff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.082), 0 6px 20px 0 rgba(0, 0, 0, 0.103);
    cursor: pointer;
}

.nav-items {
    padding-bottom: 3px;
}

.nav-link {
    color: #181b3d !important;
}

.nav-link:hover {
    color: #3C44B3 !important;
}

.navbar-brand {
    color: #3d3d3d !important;
}

#navbarSupportedContent {
    margin-left: 280px;
}

.brand-img {
    width: 30px;
    margin-left: 53px;
    padding-bottom: 6px;
}
.form {
    color: #99BCD3 !important;
    padding-bottom: 3px;
}
.form-control:focus {
    border-color: #EBEBE4;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(236, 230, 230, 0.356);
}

/* ABOUT PAGE */
.myskills {
    width: 20%;
    float: left;
    margin-bottom: 20px;
    border-radius: 50%;
    color: #262D85 !important;
}
.skill-row {
    width: 60%;
    text-align: left;
    margin: 100px auto 100px auto;
    line-height: 2;
}
.background {
    width: 25%;
    float: right;
    margin-left: 30px;
    padding-top: 10px;
}
.middle-container {
    line-height: 2;
    color: #646464;
    width: 100%;
    margin-bottom: 5%;
}  
.features-about {
    margin-top: 13%;
    color: #22265E;
}

/* FOOTER  */
.contact-section {
    padding-bottom: 1%;
    background-color: #a5a5a52f;
    color: #474749;
}

.icon-social {
    margin: 30px 10px;

}

.fas, .fab {
  color: rgba(0, 0, 0, 0.479);
  margin-right: 2%;
  border-radius: 25px;
}

.icon-social {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.048), 0 6px 20px 0 rgba(0, 0, 0, 0.164);
}

.fas:hover {
    color: #6968C3;
}

.fab:hover {
    color: #6968C3;
    cursor: pointer;
}

